@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT CUSTOMIZATION */
@font-face {
  font-family: "CDBold";
  src: url("../public/fonts/CaviarDreams_Bold.ttf");
}
@font-face {
  font-family: "QSDash";
  src: url("../public/fonts/Quicksand_Dash.otf");
}

@font-face {
  font-family: "LMRegular";
  src: url("../public/fonts/LEMONMILK-Regular.otf");
}

@font-face {
  font-family: "QsBook";
  src: url("../public/fonts/Quicksand_Book.otf");
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "LMRegular";
}
h2 {
  font-family: "LMRegular";
}

h3 {
  font-family: "QSDash";
}

h4 {
  font-family: "QsBook";
}

p {
  font-family: "QsBook";
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "QsBook"; */
}

* {
  /* box-sizing: content-box; */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.452) black;
}
